header {
  .parallax__layer--back {
    background: url("../images/bg-1.jpg");
    background-repeat: no-repeat;
    position: absolute;
    transform: translateZ(-1px);
      top: -50%;
      background-size: 150%;
      @media @smphone, @lgphone, @smtablet {
        background-size: 150%;
        left: -52%;
      }
      @media @lgtablet,@desktop,@lgdesktop {
        background-size: 100%;
        left: -51%;
      }

  }
  text-align: center;
  @media @smphone {
    height: 28em;
  }
  .title {

  @media @smtablet {
    top: 15em;
  }
  @media @smphone, @lgphone {
    top: 10em;
  }
    color: #fff;
    text-shadow: 2px 2px black;
	 }

    h1 {
      text-transform: uppercase;
      font-size: 4em;
    }
    h2 {
      font-size: 2em;
    }

}
